<div class="event" colored [myevent]="myevent" [bind]="myevent.getBind()">
    <span *ngIf="myevent.getBind()" class="unsubscribe" (click)="unsubscribe(user.getId(), myevent.getId())">Ne plus participer ❎</span>
    <span *ngIf="!myevent.getBind()" class="subscribe" (click)="subscribe(user.getId(), myevent.getId())">Participer 🆗</span>
    <h4> {{ myevent.getName() }} </h4>
    <p><i> du {{ myevent.getDatedeb() | date:'dd/MM/yyyy' }} </i></p>
    <p><i> du {{ myevent.getDatefin() | date:'dd/MM/yyyy' }} </i></p>
    <p> situé {{ myevent.getPlace() }} </p>
    <p> Latitude {{ myevent.getLatitude() }} </p>
    <p> Longitude {{ myevent.getLongitude() }} </p>
    <p> Categorie {{ myevent.getId_categ() }} </p>
</div>
